.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(../../assets/img/loading.gif) center no-repeat black;
}
.navbar-brand{
	height: 100%;
    width: auto;
}
h1{
	font-family:Arial, Helvetica, sans-serif;
	color:#999999;
}
.wrapper{width:600px; margin-left:auto;margin-right:auto;}
.fb_box .image{ text-align:center;}
.caption {
    height: 130px;
    overflow: hidden;
}

.caption h4 {
    white-space: nowrap;
}

.thumbnail img {
    width: 100%;
}

.ratings {
    padding-right: 10px;
    padding-left: 10px;
    color: #d17581;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
    color: #333;
}

.main {
max-width: 400px;
margin: 0 auto;
}
.login-or {
position: relative;
font-size: 18px;
color: #aaa;
margin-top: 10px;
        margin-bottom: 10px;
padding-top: 10px;
padding-bottom: 10px;
}
.span-or {
display: block;
position: absolute;
left: 50%;
top: -2px;
margin-left: -25px;
background-color: #fff;
width: 50px;
text-align: center;
}
.hr-or {
background-color: #cdcdcd;
height: 1px;
margin-top: 0px !important;
margin-bottom: 0px !important;
}
.form_login{
    display: none;
}
.btn-primary {
    color: #fff;
    background-color: #4367b2;
    border-color: #2e6da4;
}



/************************************************************
*************************Footer******************************
*************************************************************/

@import url(http://fonts.googleapis.com/css?family=Fjalla+One);
@import url(http://fonts.googleapis.com/css?family=Gudea);
.footer1 {
    background: #fff url("../img/footer-bg.png") repeat scroll left top;
    padding-top: 70px;
    padding-right: 0;
    padding-bottom: 20px;
    padding-left: 0;/*  border-top-width: 4px;
    border-top-style: solid;
    border-top-color: #003;*/
}



.title-widget {
    color: #4467b2;
    font-size: 20px;
    font-weight: 300;
    line-height: 1;
    position: relative;
    text-transform: uppercase;
    font-family: 'Fjalla One', sans-serif;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 25px;
    margin-left: 0;
    padding-left: 28px;
}

.title-widget::before {
    background-color: #4467b2;
    content: "";
    height: 22px;
    left: 0px;
    position: absolute;
    top: -2px;
    width: 5px;
}



.widget_nav_menu ul {
    list-style: outside none none;
    padding-left: 0;
}

.widget_archive ul li {
    background-color: rgba(0, 0, 0, 0.3);
    content: "";
    height: 3px;
    left: 0;
    position: absolute;
    top: 7px;
    width: 3px;
}


.widget_nav_menu ul li {
    font-size: 13px;
    font-weight: 700;
    line-height: 20px;
    position: relative;
    text-transform: uppercase;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    margin-bottom: 7px;
    padding-bottom: 7px;
    width:95%;
}



.title-median {
    color: white;
    font-size: 20px;
    line-height: 20px;
    margin: 0 0 15px;
    text-transform: uppercase;
    font-family: 'Fjalla One', sans-serif;
}

.footerp p {
    color: white;
    font-family: 'Gudea', sans-serif; 
}
.footerp p a{
    color: white;
    font-family: 'Gudea', sans-serif; 
}
.title-widget2{
    color: white;
}
.title-widget2::before{
    background-color: white;
}


#social:hover {
                -webkit-transform:scale(1.1); 
-moz-transform:scale(1.1); 
-o-transform:scale(1.1); 
            }
            #social {
                -webkit-transform:scale(0.8);
                /* Browser Variations: */
-moz-transform:scale(0.8);
-o-transform:scale(0.8); 
-webkit-transition-duration: 0.5s; 
-moz-transition-duration: 0.5s;
-o-transition-duration: 0.5s;
            }           
/* 
    Only Needed in Multi-Coloured Variation 
                                               */
            .social-fb:hover {
                color: #3B5998;
            }
            .social-tw:hover {
                color: #4099FF;
            }
            .social-gp:hover {
                color: #d34836;
            }
            .social-em:hover {
                color: #f39c12;
            }
            .nomargin { margin:0px; padding:0px;}





.footer-bottom {
    background-color: #4467b2;
    min-height: 30px;
    width: 100%;
}
.copyright {
    color: #fff;
    line-height: 30px;
    min-height: 30px;
    padding: 7px 0;
}
.design {
    color: #fff;
    line-height: 30px;
    min-height: 30px;
    padding: 7px 0;
    text-align: right;
}
.design a {
    color: #fff;
}


/************************************************************
*************************Footer******************************
*************************************************************/

/**
    Custom styles
**/
.first, .prev, .last, .easyPaginateNav > .page{
    border: 1px solid white;
    background: #4467b2;
    color: white;
    border-radius: 4px;
    padding: 5px;
}
.easyPaginateNav > .page:hover, .easyPaginateNav > .page:focus{
    color: white;
}
.easyPaginateNav > .page.current{
    color: white;
    background: #4467b2;
}
.thumbnail{
    height: 20%;
}

.scroll-top{
    cursor: pointer;
    border-radius: 10px;
    bottom: 5px;
    right: 5px;
}
.glyphicon{
    color: #4467b2;
}
.easyPaginateNav{
    width: 1px !important;
}
.carousel-caption {
    bottom: 50px;
    color: #4467b2;
    font-size: 100px;
}
.navbar-default{
    background-color: #4467b2;
    border-color: white;
}
.navbar-default .navbar-brand, .navbar-default .navbar-nav>li>a, .navbar-default .navbar-brand:hover, .navbar-default .navbar-nav>li>a:hover{
    color: white;
}
.navbar-default .navbar-toggle .icon-bar{
    background-color: white;
}
.back-to-top {
    z-index: 9;
    cursor: pointer;
    position: fixed;
    bottom: 25px;
    right: 16px;
    display:none;
    color: #ffffff;
    background-color: #4467b2;
    border-color: #ffffff;
}
body{
    overflow-x: hidden;
}
@media screen and (min-width: 768px) and (max-width: 1024px){
    .footer1 {
        padding-top: 110px;
    }
}
@media screen and (max-width: 768px){
    .footer1 {
        background: #fff url(../img/footer-bg.png) repeat scroll right top;
        padding-top: 70px;
    }

    .title-widget {
        color: white;
    }

    .title-widget::before {
        background-color: white;
    }


    .carousel-caption {
        bottom: 30px;
        font-size: 50px;
    }
}
@media screen and (max-width: 480px){
    .carousel-caption {
        bottom: 10px;
        font-size: 20px;
    }
}